__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

data/raw/*
!data/raw/data.csv

data/models/*
!data/models/.gitkeep

results/*
!results/.gitkeep

debug/*
!debug/.gitkeep

*.xlsx
.DS_Store

.idea/